.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

:root{
    font-family: 'Roboto', sans-serif;
        background-color: #FFFFFF;
        --address-color: #2E2F42;
        --adres-colr:#434455;
        --hero-color:#2e2f42;
}

.body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

.link-logo{
    width: 44px;
        height: 21px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
}

.logo-text{
    width: 71px;
        height: 21px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2E2F42;
}

.menu-link{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:var(--address-color);
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
    color:var(--adres-colr)
}

.hero{
    background-color: var(--hero-color);
}

.main-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.button-title{
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        color: #FFFFFF;
        cursor: pointer;
}

.button-title:hover,
.button-title:focus{
    background-color: #404BBF;
}


.sub-sub-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.complementary-text{
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.complementary-title{
    font-family: 'Roboto',sans-serif
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.section-three{
    background-color: #f4f4fd;
}

.complementary-title{
    background-color: #FFFFFF;
}

.footer{
    background-color: #2e2f42;
}
.complementary-text-footer{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.logo-text-buffer{
    color: #f4f4fd;
}
